## Type of numbers

### There are two types of numbers in Python:
    Integer -> whole numbers: 1,5,15,-123
    float -> 2.45 , 1.8753, ...

In [5]:
type(2.4)

float

In [6]:
a = 2.4

In [8]:
# Looking into different types of variables
a = "Hi class!"
type(a)

str

## Lists

In [18]:
mylist = [4,51,1,74,12]
mylist.sort(reverse = True)

In [17]:
mylist

[1, 4, 12, 51, 74]

In [9]:
# Dictionaries

In [10]:
# Series

In [11]:
# Tuples

## Functions

#### Define:

In [19]:
#define a function:
def speak():
    print("Hi!")

In [20]:
# call the function:
speak()

Hi!

In [21]:
#define a function that returns a value:
def speak():
    print("Hi!")
    return 30

In [23]:
a = speak()

Hi!

In [24]:
a

30

In [36]:
# define a function that gets a value from the user and prints it:
def printer(val):
    '''
    input:
    @val (str,int,bool): the value to be printed
    '''
    print(val)

In [ ]:
printer()

In [26]:
message = input("Please set the parameter for the printer:")

Please set the parameter for the printer:This is a test message to be printed.

In [27]:
printer(val = message)

This is a test message to be printed.

In [28]:
number = 10
print("the number is :{}".format(number))

the number is :10

In [29]:
print("the number is :",number)

the number is : 10

In [30]:
print("the number is :"+str(number))

the number is :10

In [31]:
print("the number is :"+number)

TypeError: can only concatenate str (not "int") to str

In [34]:
str_num = "12"
b = int(str_num) + 7
b

19

In [35]:
print(f"the value is {str_num} ." )

the value is 12 .

## Classes and Objects
Here we define an instance of class , which is named Dog.
Remeber that class is atemplate for creating an object.
Dog is an instance of class.

Our Dog object has an attribute name. (defined in the second line.)
Name can be given by an external (to Dog) value, for example by user's input. (the container to that value is the first name)
Then we want to tie that value to the attribute of our Dog object (line 3)

In [48]:
class Dog:
    def __init__(self,name):
        self.name = name
    def bark(self,msg):
        print(msg)

In [49]:
dog1 = Dog("coco")

In [50]:
dog1.name

'coco'

dog1.bark("hi")

In [51]:
dog1.bark("hello")

hello